body {
    min-height: 100vh;
}

header {
    height: 7vh;
    padding: 0;
}
#search_field {
    min-width: 15%;
    max-width: 35%;
    min-height: 100%;
}
#search_field_submit {
    margin-left: 5px;
    margin-right: 5px;
    min-height: 100%;
}

main {
    min-height: 89vh;
    width: 95vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer {
    height: 4vh;
    padding-top: 1vh;
}
