body {
    min-height: 100vh;
}

header {
    height: 7vh;
    padding: 0;
}
#search_field {
    max-width: 75%;
    float: left;
}
#search_field_submit {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 20%;
    float: left;
}
form {
    width: 40%;
}
main {

    min-height: 89vh;
    width: 95vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-flow: column;
}
footer {
    height: 4vh;
    padding-top: 1vh;
}
.nav-link-buttons {
    margin-left: 1%;
}
.program-name-navbar {
    margin-right: 2%;
}
