.statsControl {
    width: 50%;
    float: left;
    display: block;
}
select {
    max-width: 20%;
    transform: translateY(-5px);
}
#statsMainControl > label {
    float: left;
    margin-right: 7px;
}
#plotField {
    min-height: 75vh;
    flex-grow : 1;
}
label {
    margin-bottom: 10px;
}